/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

/captures
.externalNativeBuild
*.apk

/.idea/
/gradlew
/gradlew.bat
/gradle/
/lib_itv_sdk/build
